{
    "presets": [
        ["env", {
            "targets": {
                "browsers": ["last 2 versions"]
            }
        }],
        ["react"]
    ],
    "plugins": [
        "syntax-dynamic-import",
        "transform-object-rest-spread",
        ["transform-class-properties", { "spec": true }],
        ["react-css-modules", {
            "filetypes": {
                ".scss": {
                    "syntax": "postcss-scss"
                }
            },
            "generateScopedName": "app-entry___[name]__[local]___[hash:base64:5]"
        }]
    ]
}